* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
:root {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2c3038;
  --text-color: #5a5a5a;
  --light-bg-color: #f7f9fc;
  --white-bg-color: #fff;
  --card-curve: 6px;
  --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem);
  --lighter-hover-color: #fff;
  --lighter-hover-border-color: #eee;
  --toolbar-color: #0d1326;
  --pull-right: #0d1326;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.dark-mode {
  --white-bg-color: #181a1b;
  --title-color: rgb(200, 195, 188);
  --text-color: #afa89e;
  --light-bg-color: #1b1d1e;
  --lighter-hover-color: rgb(24, 26, 27);
  --lighter-hover-border-color: rgb(53, 57, 59);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --toolbar-color: #dc4f72;
  --pull-right: #dc4f72;
}

/* Header navbar */
header {
  position: fixed;
  background-color: var(--white-bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
@media only screen and (max-width: 991px) {
  header {
    height: auto;
    padding: 15px 0;
  }
}
@media only screen and (max-width: 991px) {
  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--primary);
  letter-spacing: -1px;
}
.logo i {
  text-decoration: none;
  color: var(--primary);
  font-size: 26px;
}
.logo span {
  font-size: 26px;
}
.navbar a.logo:hover {
  color: var(--primary);
}

.menu li.nav-item::after {
  content: "";
  background-color: var(--primary);
  width: 0;
  height: 2px;
  display: block;
  transition: all 0.5s;
}
.menu li {
  margin: 0px 15px;
}
.menu li.nav-item:hover::after {
  width: 50%;
}
.menu .nav-item .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0px 5px 0px;
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
}
@media only screen and (max-width: 991px) {
  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: var(--primary);
    border-radius: 5px;
  }
}
@media only screen and (max-width: 991px) {
  .menu li {
    display: block;
    padding: 8px 0px;
    text-align: center;
  }
  .menu .nav-item .nav-link {
    padding: 0px 0px 2px 0px;
  }
  .menu li.nav-item::after {
    content: "";
    background-color: var(--primary);
    width: 0;
    height: 2px;
    display: inline;
    transition: all 0.5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu li.nav-item:hover::after {
    width: 25px;
  }
  .menu li.nav-item2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu .nav-item:hover .nav-link {
  color: var(--primary);
}
.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-outline-primary:hover {
  background-color: #dc4f72;
  color: white;
  border-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #dc4f72;
  color: white;
  border-color: transparent;
}

.collapse {
  position: relative;
}

.nav-item3 {
  position: absolute;
  /* top: 2px; */
  right: -50px;
}
.nav-item3 {
  font-size: 32px;
  color: grey;
}

/* Carousel */
#carousel {
  margin-top: 90px;
}
#carousel .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../images/banner.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.align-items-center {
  align-items: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

#carousel .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#carousel .content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}
#carousel .content-photo img {
  transform: rotate(180deg);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.clear {
  clear: both;
}
/* Index 1 */
#index-1 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
  background-color: var(--white-bg-color);
}

.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
}
.header-section h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.header-section p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
#icon-theme {
  cursor: pointer;
}
#index-1 .item-block {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: var(--light-bg-color);
  padding: 3rem 2rem;
  border: 1px solid var(--light-bg-color);
  display: block;
}

#index-1 .item-block:hover {
  transition: 0.3s ease-in;
  background-color: var(--lighter-hover-color);
  border: 1px solid var(--lighter-hover-border-color);
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}
.item-block a {
  text-decoration: none;
}
#index-1 .item-block h3 {
  color: var(--title-color);
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#index-1 .item-block p {
  color: var(--text-color);
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
}
/* About */
#about {
  background-color: var(--light-bg-color);
}
@media (min-width: 992px) {
  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
#about .book-info h3 {
  font-size: 35px;
  line-height: 40px;
  color: var(--title-color);
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#about .book-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
  line-height: 24.4px;
}
.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #cf2952;
  border-color: #c4274e;
}
img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}
/* Count */
#count {
  background: var(--light-bg-color);
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
#count .stats_info {
  background-color: var(--lighter-hover-color);
  padding: 2rem;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
  transition: 0.3s ease;
  border: 1px solid var(--lighter-hover-border-color);
}
#count .stats_info:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s ease;
}
#count .stats_info h4 {
  font-size: 16px;
  line-height: 24.5px;
  text-transform: capitalize;
  color: var(--title-color);
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#count p.counter {
  font-size: 50px;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
#count p.stats_text {
  font-size: 16px;
  color: var(--text-color);
}
/* Index-2 */
#index-2 .index-2_wrapper {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
#index-2 .index-2_text {
  max-width: 550px;
}
#index-2 .index-2_text h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#index-2 .link-list-menu p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}
/* News */
#news {
  background-color: var(--white-bg-color);
}
#news #grid-news .grid-info {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background-color: var(--white-bg-color);
  border: 1px solid var(--lighter-hover-border-color);
}
#news .grid-view a.zoom {
  border-top-left-radius: var(--card-curve);
  border-top-right-radius: var(--card-curve);
}
#news a.zoom {
  overflow: hidden;
  position: relative;
}
#news .grid-view img.news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#news a.zoom img {
  transition: 0.3s ease-in-out;
  filter: grayscale(1);
}
#news .grid-view p.date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background-color: var(--primary);
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
#news .blog-info {
  background-color: var(--lighter-hover-color);
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#news label.tag-label.red {
  background-color: rgba(238, 97, 120, 0.2);
  color: var(--primary);
}
#news label.tag-label {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

#news .grid-view .grid-info h4 a {
  font-size: 22px;
  line-height: 27px;
  color: var(--title-color);
  display: block;
  font-weight: 600;
  text-decoration: none;
}
#news .grid-view .grid-info .blog-text {
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-top: 15px;
  border-bottom: 1px solid var(--lighter-hover-border-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#news a.btn-news {
  padding: 0;
  color: var(--primary);
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.fa-arrow-right:before {
  content: "\f061";
}
#news a.btn-news span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}
#news .grid-info:hover {
  transition: 0.3s ease-in;
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}
#news .grid-info:hover a.zoom img {
  filter: grayscale(0);
}
#news .grid-info:hover a.btn-news span {
  transform: translateX(5px);
}
#news .grid-view .grid-info:hover h4 a {
  color: var(--primary);
}
#news label.tag-label.green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
#news label.tag-label.blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
/* Light/dark mode */
#theme-icon {
  cursor: pointer;
  width: 50%;
  line-height: 30px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  left: -330px;
  z-index: 10;
  background-color: #cf2952;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.title__section {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
}

.title__section h1:first-of-type {
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  color: var(--primary);
}

.title__section h1:last-of-type {
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: var(--title-color);
}

.title__section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  color: var(--text-color);
}

/* Question & Answer */
.qa {
  background-color: var(--light-bg-color);
}

.qa .container {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.qa .qa__content {
  color: var(--text-color);
}

.qa .row .qa__img {
  transform: translateY(0);
  transition: all 0.5s;
}

.qa .row .qa__img img {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.qa .row .section___question ul {
  list-style: none;
  padding: 0 !important;
}

.qa .row .section___question ul li {
  padding: 18px 50px 18px 18px;
  border: 1px solid #eeeeee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #ffffff;
  position: relative;
}

.qa .row .section___question ul li h1 {
  display: inline-block;
  font-size: 20px;
}

.qa .row .section___question ul li i {
  position: absolute;
  right: 25px;
  margin-top: 16px;
  top: 16px;
}

.qa .row .qa__img:hover {
  transform: translateY(-10px);
}

.qa .row .section___question ul li:hover {
  cursor: pointer;
}

.list_heading_toggle li.collapsed span::before,
.list_heading_toggle li.collapsed span::after {
  content: "";
  position: absolute;
  background-color: #2c3038;
  height: 9px;
  width: 3px;
  right: 25px;
  top: 32px;
  transition: all ease-in-out 0.25s;
}

.list_heading_toggle li.collapsed span::before {
  transform: translate(5px) rotate(45deg);
}
.list_heading_toggle li.collapsed span::after {
  transform: rotate(-45deg);
}

.list_heading_toggle li span::before,
.list_heading_toggle li span::after {
  content: "";
  position: absolute;
  background-color: #2c3038;
  height: 9px;
  width: 3px;
  right: 25px;
  top: 32px;
  transition: all ease-in-out 0.25s;
}

.list_heading_toggle li span::before {
  transform: rotate(45deg);
}
.list_heading_toggle li span::after {
  transform: translate(5px) rotate(-45deg);
}

/* Company's project */
.projects {
  background-color: var(--white-bg-color);
}
.projects ul {
  list-style: none;
  margin: 0 !important;
  border-bottom: none !important;
}

.projects li {
  display: inline-block;
  flex-basis: 33.333%;
  text-align: center;
  background-color: var(--white-bg-color) !important;
}

.projects li.active {
  border-bottom: 3px solid #c1c1c1 !important;
}

.projects li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  color: #4e5b61;
  display: inline-block;
  width: 100%;
  border: none !important;
  border-bottom: 3px solid var(--lighter-hover-border-color) !important;
  padding-bottom: 10px;
}

.nav-link.active {
  color: var(--primary) !important;
  border-bottom: 3px solid var(--primary) !important;
  background-color: var(--white-bg-color) !important;
}

.projects .tab-content {
  margin: 15px 0;
}

.projects .tab-content h1 {
  font-size: 28px;
  font-weight: 700;
}

.projects .tab-content p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px !important;
}

.projects .tab-content img {
  border-radius: 5px;
  transform: translateY(5px);
  transition: all 0.3s;
}

.projects .tab-content img:hover {
  transform: translateY(0);
}

.card-body a {
  text-decoration: none;
  font-size: 15px;
  border: 1px solid var(--primary);
  color: var(--primary) !important;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 20px 0;
  display: inline-block;
}

.btn__KM:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #ffffff !important;
}

.card-body a {
  margin-top: 20px !important;
}

.card-body p {
  color: var(--text-color);
}

.card-body h1 {
  color: var(--title-color);
}

.projects .card {
  background-color: var(--white-bg-color);
}

@media (min-width: 768px) {
  .projects .nav-tabs {
    display: flex;
  }

  .projects .card {
    border: none;
  }

  .projects .card .card-header {
    display: none;
  }

  .projects .card .collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .projects .nav-tabs {
    display: none;
  }

  .projects .tab-content > .tab-pane {
    display: block !important;
    opacity: 1;
    /* margin-bottom: 10px; */
  }

  .projects .card-header {
    background: none rgb(245, 245, 245);
    color: #000000;
    border: 1px solid rgb(193, 193, 193) !important;
  }
  .projects .card-header h5 a {
    background: none rgb(245, 245, 245);
    color: #000000;
    border-bottom: none;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  .projects .card-header h5 a i {
    float: right;
    padding-top: 5px;
  }
  .projects .card-body {
    border-top: none !important;
    border-bottom: none !important;
    border: 1px solid rgb(193, 193, 193);
  }
  .projects .card-header h5 a:hover {
    color: #000000;
  }

  .projects .list__projects {
    margin-top: 30px !important;
  }

  .projects .card {
    border: none !important;
  }
}

/* Clients */
.clients {
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(".././images/b2.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.clients .title__client h1:first-of-type {
  color: #dc4f72;
}

.clients .title__client h1:last-of-type {
  color: #2c3038;
}

.clients .responsive .item__child {
  display: inline-block;
  background-color: #ffffff;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px 30px;
}

.clients .responsive .item__thumbnail {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
  padding: 0 !important;
  object-fit: cover;
}

.clients .responsive .item__thumbnail img {
  width: 100%;
  min-height: 100%;
  object-position: center;
}

.clients .responsive .item__child .item__content {
  position: relative;
  margin-left: 25px;
}

.clients .responsive .item__child .item__content .fa-quote-left {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.clients .responsive .item__child .item__content p {
  font-size: 18px;
  list-style: 26px;
}

.clients .responsive .item__child .item__content .name h1 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}

.clients .responsive .item__child .item__content .name p {
  font-size: 13px;
  color: var(--text-color);
}

@media (max-width: 667px) {
  .clients .responsive .item__parent {
    padding: 20px;
  }

  .clients .responsive .item__child {
    margin-right: 0 !important;
  }

  .clients .responsive .item__child .item_pic {
    text-align: center;
    margin: 15px 0;
  }

  .clients .responsive .item__child .item__content .fa-quote-left {
    left: 80px;
  }

  .clients .responsive .item__child .item__content p {
    text-align: center;
  }

  .clients .responsive .item__child .item__content .name {
    text-align: center;
  }

  .slick-dots {
    bottom: -45px;
  }
}

/* Brand */
.brand {
  background-color: var(--white-bg-color);
}

.brand .brand__title {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
}

.brand .brand__title h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: var(--title-color);
}

.brand .brand__title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  color: var(--text-color);
}

.brand .brand__btn {
  margin-top: 50px;
  text-align: center;
}

.brand .brand__btn button {
  font-size: 15px;
  font-weight: 700;
  font-family: "Nunito", sans-serif !important;
  color: var(--primary);
  background-color: #ffffff;
  padding: 18px 30px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin-right: 15px;
  transition: all 0.5s;
}

.brand .brand__btn button.active {
  background-color: var(--primary);
  color: #ffffff;
}

.brand .brand__btn button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #ffffff;
}

@media (max-width: 912px) {
  .brand__btn button {
    padding: 15px 20px !important;
  }
}

/* Footer */
.footer {
  background-color: var(--light-bg-color);
}

.footer .row__first {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 48px;
}

.footer .row .col__left .column h1 {
  font-size: 20px !important;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 30px;
}

.footer .row .col__left .column ul {
  list-style: none;
  padding: 0 !important;
}

.footer .row .col__left .column li {
  margin-bottom: 10px;
}

.footer .row .col__left .column li a {
  text-decoration: none;
  font-size: 15px;
  color: #656f7b !important;
}

.footer .row .col__left .column li a:hover {
  text-decoration: none;
  color: var(--primary) !important;
  opacity: 0.8;
}

.footer .row .col__right {
  padding-left: 60px;
}

.footer .row .col__right h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}

.footer .row .col__right .end-column {
  background-color: #ffffff;
  padding: 32px;
  margin-top: 28px;
  border-radius: 5px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  background-color: var(--white-bg-color) !important;
}

.footer .row .col__right .end-column h1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 30px;
}

.footer .row .col__right .end-column .subscribe {
  margin-bottom: 15px;
}

.footer .row .col__right .end-column .subscribe .input__email {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  width: 75%;
  background-color: var(--light-bg-color);
  color: var(--title-color);
  font-weight: 600;
}

.footer .row .col__right .end-column .subscribe .input__email::placeholder {
  background-color: var(--light-bg-color);
  color: var(--text-color);
  font-weight: 700;
  opacity: 0.8;
}

.footer .row .col__right .end-column .btn__submit {
  background-color: var(--primary);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  width: 20%;
  margin-left: 5px;
  font-size: 16px;
}

.footer .row .col__right .end-column p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 22px;
}

.footer .row__second {
  padding-top: 26px;
}

.footer .row__second .col__left {
  text-align: left;
  padding: 0 !important;
}

.footer .row__second .col__left p {
  font-size: 16px;
  color: var(--text-color);
}

.footer .row__second .col__left a {
  text-decoration: none;
  font-size: 16px;
  color: var(--title-color);
}

.footer .row__second .col__right {
  text-align: right;
  padding: 0 !important;
}

.footer .row__second .col__right ul {
  list-style: none;
}

.footer .row__second .col__right ul li {
  display: inline-block;
  margin-right: 28px;
}

.footer .row__second .col__right ul li a {
  font-size: 15px;
  line-height: 36px;
  color: var(--title-color);
  transition: all 0.5s;
}

.footer .row__second .col__right ul li a:hover {
  color: var(--primary);
}

@media (max-width: 912px) {
  .footer {
    padding: 40px 10px 40px 10px !important;
  }

  .footer .row__first .col__right {
    padding: 0 15px !important;
  }

  .footer .row__first .col__right button {
    padding: 10px !important;
  }

  .footer .row__second .col__left {
    text-align: center;
  }

  .footer .row__second .col__right {
    text-align: center;
  }
}

/* Toolbar */

.toolbar {
  background-color: var(--toolbar-color);
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 60px;
  z-index: 1000;
  width: 90px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.toolbar .container {
  padding-top: 40px;
}

.toolbar ul {
  list-style: none;
  padding: 0 !important;
  text-align: center;
  border-top: 1px solid #41414d;
  margin-top: 30px;
  margin-bottom: 60px;
}

.toolbar li {
  margin-top: 20px;
  color: #e6ebff !important;
  font-size: 15px;
  opacity: 0.6;
  transition: all 0.3s;
}

.toolbar li a {
  text-decoration: none;
  color: #e6ebff !important;
}

.toolbar li:hover {
  opacity: 1;
}

.pull__right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
  border-radius: 50%;
}

.pull__right i {
  background: var(--pull-right);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #797f92;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.5;
}

/* Back to top */
.backtotop {
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 100px;
  right: 0px;
  opacity: 0;
  z-index: 999;
}

.backtotop i {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 70px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  background-color: var(--white-bg-color);
}
